<ion-header>
  <ion-toolbar>
    <ion-title>
      What are these rates?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ask rate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The first is the lowest rate that someone in the market is willing to sell you the currency. This is the ask rate.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mid rate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The mid market rate is average of the bid and ask rates and is not a rate that you can deal at. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bid rate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The second is the highest rate that someone is willing to buy the currency from you. This is the bid rate.
    </ion-card-content>
  </ion-card>
</ion-content>
