<ion-header>
  <ion-toolbar>
    <ion-title>
      Currency exchange
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>   
  <ion-card> 
    <ion-grid>
      <ion-row>
        <ion-col [size]="options.displayMode == 'code' ? 5 : 12">
          <ion-select [(ngModel)]="options.input" (ionChange)="onCurrencyChange()" [selectedText]="options.displayMode == 'code' ? options.input.code : options.input.fullName" interface="action-sheet">
            <ion-select-option *ngFor="let currency of currencies" [value]="{code: currency.Symbol, fullName: currency.Name}">{{ options.displayMode == 'code' ? currency.Symbol : currency.Name }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col [size]="options.displayMode == 'code' ? 2 : 12" text-center align-self-center>
          <ion-icon name="swap" (click)="onSwapClick()"></ion-icon>
        </ion-col>
        <ion-col [size]="options.displayMode == 'code' ? 5 : 12">
          <ion-select [(ngModel)]="options.output" (ionChange)="onCurrencyChange()" [selectedText]="options.displayMode == 'code' ? options.output.code : options.output.fullName" interface="action-sheet">
            <ion-select-option *ngFor="let currency of currencies" [value]="{code: currency.Symbol, fullName: currency.Name}">{{ options.displayMode == 'code' ? currency.Symbol : currency.Name }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="input-amount">
          <ion-label position="stacked">Amount in {{ options.input.code }}</ion-label>
          <ion-input [(ngModel)]="amount" type="number" autofocus="true" inputmode="numeric"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
    
  <ion-card *ngIf="options.rates.bid || options.rates.mid || options.rates.ask">
    <ion-card-header *ngIf="options.rates.bid">
      <ion-card-subtitle>Bid | exchange rate {{ rates.bid | number:'1.0-2'}}</ion-card-subtitle>
      <ion-card-title>
        <span class="card-ammount">{{ (amount >= 0 && rates.bid >= 0 ? rates.bid * amount : 0) | number:'1.0-2'}} </span>
        <span class="card-currency-code">{{ options.output.code }}</span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-header *ngIf="options.rates.mid">
      <ion-card-subtitle>Mid | exchange rate {{ rates.mid | number:'1.0-2'}}</ion-card-subtitle>
      <ion-card-title>
        <span class="card-ammount">{{ (amount >= 0 && rates.mid >= 0 ? rates.mid * amount : 0) | number:'1.0-2'}} </span>
        <span class="card-currency-code">{{ options.output.code }}</span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-header *ngIf="options.rates.ask">
      <ion-card-subtitle>Ask | exchange rate {{ rates.ask | number:'1.0-2'}}</ion-card-subtitle>
      <ion-card-title>
        <span class="card-ammount">{{ (amount >= 0 && rates.ask >= 0 ? rates.ask * amount : 0) | number:'1.0-2'}} </span>
        <span class="card-currency-code">{{ options.output.code }}</span>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="!options.rates.bid && !options.rates.mid && !options.rates.ask">
      <ion-card-header>
        <ion-card-title>All rates are disabled</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Go to Options an enable any of rates.
      </ion-card-content>
  </ion-card>

</ion-content>
