<ion-header>
  <ion-toolbar>
    <ion-title>
      Default options
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Default currencies</ion-list-header>
    <ion-item>
      <ion-label>Input currency</ion-label>
      <ion-select [(ngModel)]="inputCurrency" [selectedText]="currencyDiplayMode == 'code' ? inputCurrency.code : inputCurrency.fullName" (ngModelChange)="onOptionsChange()" interface="action-sheet">
        <ion-select-option *ngFor="let currency of currencies" [value]="{code: currency.Symbol, fullName: currency.Name}">{{ currencyDiplayMode == 'code' ? currency.Symbol : currency.Name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Desired currency</ion-label>
      <ion-select [(ngModel)]="outputCurrency" [selectedText]="currencyDiplayMode == 'code' ? outputCurrency.code : outputCurrency.fullName" (ngModelChange)="onOptionsChange()" interface="action-sheet">
        <ion-select-option *ngFor="let currency of currencies" [value]="{code: currency.Symbol, fullName: currency.Name}">{{ currencyDiplayMode == 'code' ? currency.Symbol : currency.Name }}</ion-select-option>
      </ion-select>
      </ion-item>
  </ion-list>
  <ion-list>
      <ion-radio-group [(ngModel)]="currencyDiplayMode" (ngModelChange)="onOptionsChange()">
          <ion-list-header>
            <ion-label>Currency display mode</ion-label>
          </ion-list-header> 
          <ion-item>
            <ion-label>Code <span class="currency-code">(i.g. CZK)</span></ion-label>
            <ion-radio value="code"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Full Name <span class="currency-code">(i.g. Czech koruna)</span></ion-label>
            <ion-radio value="fullName"></ion-radio>
          </ion-item>
        </ion-radio-group>
  </ion-list>
  <ion-list>
    <ion-list-header>Displayed rates</ion-list-header>
    <ion-item>
      <ion-label>Bid rate</ion-label>
      <ion-toggle [(ngModel)]="bidRate" (ngModelChange)="onOptionsChange()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Mid rate</ion-label>
      <ion-toggle [(ngModel)]="midRate" (ngModelChange)="onOptionsChange()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Ask rate</ion-label>
      <ion-toggle [(ngModel)]="askRate" (ngModelChange)="onOptionsChange()"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
  <!--<ion-list-header>XigniteGlobalCurrencies API key</ion-list-header>
    <ion-item class="input-apikey">
      <ion-input [(ngModel)]="exchangeService.token"></ion-input>
    </ion-item>
  </ion-list>-->
</ion-content>
